@import url('https://fonts.googleapis.com/css?family=Nova+Square:100,200,300,400,500,600,700,800,900&display=swap');

html {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Nova Square', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 150ms ease-in-out;
  position: relative;

  --accent-color: rgba(180,94,37,1);
  --sidenav-color: #fff;
  --body-bg-color: #212121;
  --body-bg-color: #f9f9f9;
  --text-color: #212121;
  --seencard-color: rgba(180,94,37,1);
  --seencard-bg-color: rgba(180,94,37,.2);
  --cardtwo-bg-color: rgba(255, 255, 255, 0.2);
  --cardtwo-before-bg-color: rgba(255, 255, 255, 0.3);

  background-color: var(--body-bg-color);
}
body.dark-mode {
  --body-bg-color: #212121;
  --text-color: #fff;
  --sidenav-color: rgba(180,94,37,1);
  --seencard-color: #fff;
  --cardtwo-bg-color: #21212173;
  --cardtwo-before-bg-color: rgba(255, 255, 255, 0.05);
}
body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(assets/images/pattern.png);
  background-repeat: repeat;
  /* opacity: 0.1; */
  z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
div {
  -webkit-tap-highlight-color: transparent !important;
}
a, button {
  text-decoration: none;
  color: unset;
  -webkit-tap-highlight-color: transparent !important;
  outline: none !important;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: unset;
  color: var(--accent-color);
  box-shadow: unset;
  border: none;
  cursor: pointer;
  padding: 5px;
  font-size: 16px;
  border-radius: 10px,
}
ul {
  list-style: none;
  padding: 0;
}
p, div, section, ::after, ::before, h1, h2, h3, h4, h5, h6, main, section, header{
  box-sizing: border-box !important;
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 9px;
  background: rgba(143, 55, 55, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-color); 
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color); 
}
/* ******** */


/* LAYOUT */
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.accent-color {
  color: var(--accent-color);
}
.transparent {
  opacity: 0;
}
.rotate {
  transform: rotate(180deg);
}

/* ANIMATIONS */


.jumpIn {
  animation: jumpIn 300ms ease-out;
  animation-fill-mode:forwards;
}
@keyframes jumpIn {
  0%{
    transform:translateX(-130px);
    opacity:0;
  }
  50%{
    transform:translateX(10px);
  }
  100%{
    transform:translateX(0);
    opacity:1;
  }
}

.scaleIn {
  animation: scaleIn 300ms ease-out;
  animation-fill-mode:forwards;
}
@keyframes scaleIn {
  0%{
    transform:scale(.9);
    opacity:0;
  }
  50%{
    transform:scale(1.02);
  }
  100%{
    transform:scale(1);
    opacity:1;
  }
}

.fadeIn {
  animation: fadeIn 500ms ease-out;
  animation-fill-mode:forwards;
}
@keyframes fadeIn {
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}

.scaleUpDown {
  animation: scaleUpDown 400ms ease-out infinite;
  /* animation-fill-mode:forwards; */
}
@keyframes scaleUpDown {
  0%{
    transform:scale(.6);
  }
  50%{
    transform:scale(.7);
  }
  100%{
    transform:scale(.6);
  }
}